<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="http://localhost:3000/"><b></b></a><%= image_tag "Alive.png", alt: "ALV Rodapé", class: "logotjfooter" %>
  </div>
  <strong>Realize seu Login</strong>
  <%= link_to "&copy;".html_safe, new_user_session_path %>
</footer>
